---
# tasks file for jpnewman.locale-timezone
- name: set locale
  locale_gen: name='{{ locale }}'

- name: check current timezone
  shell: cat /etc/timezone
  register: current_zone
  always_run: yes

- name: set timezone
  copy:
    content: "{{ timezone }}"
    dest: /etc/timezone
    owner: root
    group: root
    mode: 0644
    backup: yes
  when: current_zone.stdout != timezone
  notify: update timezone

- name: set localtime
  file: src=/usr/share/zoneinfo/{{ timezone }} dest=/etc/localtime state=link force=yes
